<% if notice != nil %>
<p class="alert alert-success alert-dismissible fade show" role="alert">
  <span ><%= notice %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</p>
<% end %>
  <div class="">
    <h1  class="d-flex justify-content-start">Customers</h1>
    <span class="d-flex justify-content-end"><%= link_to "New customer", new_customer_path, class:"btn btn-dark" %></span>
  </div>
  <table class="table table-borderd">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contect</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    <tbody>
     <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.address %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to "View", customer, class: "dropdown-item"%></li>
              <li><%= link_to "Edit", edit_customer_path(customer), class: "dropdown-item"%></li>
              <li><%= link_to "Delete", customer, method: :delete, data:{ confirm: "Are You Sure ?"}, class: "dropdown-item"%></li>
            </ul>
        </div>
        </td>
      </tr>
     <% end %>
     
    </tbody>
  </table>
<%= paginate @customers %>
