<% if notice != nil %>
<p class="alert alert-success alert-dismissible fade show" role="alert">
  <span ><%= notice %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</p>
<% end %>
<div class="card">
  <div class="card-header d-flex flex-row justify-content-between" >
    <h5 class="m-3">Customer</h5>
    <p class="align-self-end"><%= link_to "Back", customers_path, class:"btn btn-dark" %></p>
  </div>
  <div class="card-body">
    <%= render @customer %>
    <%= link_to "Edit", edit_customer_path(@customer), class:"btn btn-dark" %>
    <%= link_to "Destroy", @customer, method: :delete, data:{
    confirm: "Are you sure ?"
  }, class:"btn btn-danger" %>
  
  </div>
</div>







